<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content>
  <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%">
        <div>
            <div style="text-align:center" class="guardiola-title">
                <b> Guardiola </b>
            </div>
            <form [formGroup]="registerForm" (ngSubmit) = "doRegister()">
              <ion-item>
                <ion-input type="text" [formControl]="registerForm.controls['name']" placeholder="Nombres"></ion-input>
              </ion-item>
              <div *ngIf="!registerForm.controls.name.valid && registerForm.controls.name.dirty" class="validator-error">
                El Nombre no es Válido
              </div> 
              <ion-item>
                <ion-input type="text" [formControl]="registerForm.controls['email']" placeholder="Correo electrónico"></ion-input>
              </ion-item>
              <div *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.dirty" class="validator-error">
                El Email no es Válido
              </div>
              <ion-item>
                <ion-input type="text" [formControl]="registerForm.controls['phone']" placeholder="Teléfono"></ion-input>
              </ion-item>
              <div *ngIf="!registerForm.controls.phone.valid && registerForm.controls.phone.dirty" class="validator-error">
                El Número no es Válido
              </div> 
              <ion-item>
                <ion-input [formControl]="registerForm.controls['wallet']" placeholder="Monto Inicial" type="number" id="numero" oninput="if(this.value > 10000000) this.value = 10000000;if(this.value < 0) this.value*=-1;"></ion-input>
              </ion-item>
              <ion-item> 
                <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Fecha de Nacimiento" [formControl]="registerForm.controls['date']"></ion-datetime>
              </ion-item>     
              <ion-item>
                <ion-input type="password" [formControl]="registerForm.controls['password']" placeholder="Contraseña"></ion-input>
              </ion-item>
              <div *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty" class="validator-error">
                Una Contraseña es Requerida
              </div>
              <ion-item>
                <ion-input type="password" [formControl]="registerForm.controls['confirmPassword']" placeholder="Confirmar contraseña"></ion-input>
              </ion-item>
              <div *ngIf="!registerForm.controls.confirmPassword.valid && registerForm.controls.confirmPassword.dirty" class="validator-error">
                Las Contraseñas no Coinciden
              </div>
              <div align="center">
                <button ion-button type="submit" [disabled]="!registerForm.valid">Registrarse</button>
                <button ion-button type="button" (click)="back()">Regresar</button>
              </div>
            </form>
        </div>
      </ion-row>
    </ion-grid>
</ion-content>