page-balance {
    .list-head{
        background-color: #000066;
    }
    .text-1{
        font-size: 16px;
        background-color: transparent;
        color:#0099ff;
        border-width: 1px;
        border-color: white;
        text-align: center;
    }
}
