<!--
  Generated template for the GroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>

<ion-content>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%">
          <div *ngIf="!hasGroup">
              <div style="text-align:center" class="guardiola-title">
                  <b> GUARDiola </b>
              </div>
              <div>
                  <form [formGroup]="createGroupForm" (ngSubmit) = "createGroup()">
                    <ion-item>
                      <ion-input type="text" [formControl]="createGroupForm.controls['name']" placeholder="Nombre del Grupo"></ion-input>
                    </ion-item>
                    <div align="center">
                        <button ion-button type="submit" [disabled]="!createGroupForm.valid">Crear Grupo</button>
                    </div>
                  </form>
                </div>
              
                <div>
                  <form [formGroup]="joinGroupForm" (ngSubmit) = "joinGroup()">
                    <ion-item>
                      <ion-input type="text" [formControl]="joinGroupForm.controls['code']" placeholder="Código del Grupo"></ion-input>
                    </ion-item>
                    <div align="center">
                        <button ion-button type="submit" [disabled]="!joinGroupForm.valid">Unirse a un Grupo</button>
                    </div>
                  </form>
                </div>
          </div>
          <div *ngIf="hasGroup">
            <div style="text-align:center" class="guardiola-title">
              <b> Grupo </b>
            </div>
            <ion-item>
              <div> <b>Nombre:</b> </div>
              <div>{{group_data.nombre}}</div>
            </ion-item>

            <ion-item>
                <div> <b>Código:</b> </div>
                <div>{{group_data.codigo}}</div>
            </ion-item>
            
            <ion-item>
              <div> <b>Creador:</b> </div>
              <div>{{group_data.nombre_creador}}</div>
            </ion-item>

            <div align="center">
              <button ion-button type="button" (click)="goDetail()">Detalles</button>
              <button ion-button type="button" (click)="leaveGroup()">Dejar Grupo</button>
            </div>
          </div>
        </ion-row>
      </ion-grid>
</ion-content>
