page-incomes-expenses {
    .type-on{
        height: 40px;
        background-color: blue;
    }
    .type-on-text{
        color: white;
        font-size: 24px;
    }
    .type-off{
        height: 40px;
        background-color: aqua;
    }
    .type-off-text{
        font-size: 24px;
    }
}
